Here is where we write new tweets:
<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<%= value %>
	</div>
<% end %>


<%= simple_form_for @tweet do |f| %>
	<%= f.input "content" %>
	<%= f.button "submit" %>

<% end %>

Here are all the tweets ever made:</b><br /><br />

<% @tweets.each do |tweet| %>
	<%= tweet.content %><br />
<% end %>

